datasets/*
!datasets/
autotune/*
!autotune/
__pycache__/*
.devcontainer/*
tblogs/*
raw_datasets/images/*
construct_datasets/MetObjects/download.ps1
construct_datasets/MetObjects/MetObjects.csv
construct_datasets/unsplash-research-dataset-lite-latest/collections.tsv000
construct_datasets/unsplash-research-dataset-lite-latest/colors.tsv000
construct_datasets/unsplash-research-dataset-lite-latest/conversions.tsv000
construct_datasets/unsplash-research-dataset-lite-latest/DOCS.md
construct_datasets/unsplash-research-dataset-lite-latest/keywords.tsv000
construct_datasets/unsplash-research-dataset-lite-latest/photos.tsv000
construct_datasets/unsplash-research-dataset-lite-latest/README.md
construct_datasets/unsplash-research-dataset-lite-latest/TERMS.md
construct_datasets/unsplash-research-dataset-lite-latest/__MACOSX/._collections.tsv000
construct_datasets/unsplash-research-dataset-lite-latest/__MACOSX/._colors.tsv000
construct_datasets/unsplash-research-dataset-lite-latest/__MACOSX/._conversions.tsv000
construct_datasets/unsplash-research-dataset-lite-latest/__MACOSX/._keywords.tsv000
construct_datasets/unsplash-research-dataset-lite-latest/__MACOSX/._photos.tsv000
